.category .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: .5em;
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .category .grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1em;
    grid-column-gap: 1em;
  }
}

.category .grid .box {
  position: relative;
  height: 150px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .category .grid .box {
    -webkit-box-shadow: 0px 9px 14px 0px #c4c4c4;
    box-shadow: 0px 9px 14px 0px #c4c4c4;
  }
}

.category .grid .box .detail {
  position: absolute;
  top: 0;
  right: 15px;
  width: 50%;
  height: 100%;
  z-index: 1;
  padding: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.category .grid .box .detail .name {
  text-align: end;
}

.category .grid .box .detail .name h2 {
  font-weight: 600;
  font-size: 1.3em;
  height: 3em;
  overflow: hidden;
}

.category .grid .box .detail .button button {
  background-color: #FF7700;
  color: #fff;
  width: 100%;
  border: unset;
}

.category .grid .box .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category .grid .box .bg img {
  width: 100%;
  height: 100%;
}

.sub-category .grid-brand, .brand .grid-brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5%;
  margin: 1em 0;
}

.sub-category .grid-brand .box, .brand .grid-brand .box {
  border: 1px solid #707070;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  height: 40px;
}

.sub-category .grid-brand .box img, .brand .grid-brand .box img {
  max-height: 22px;
}

.sub-category > .title, .brand > .title {
  background-color: #000;
  color: #fff;
  padding: .25rem .5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .sub-category > .title, .brand > .title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sub-category > .title span, .brand > .title span {
  height: 1.7em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 767px) {
  .sub-category > .title span, .brand > .title span {
    width: 100%;
  }
}

.sub-category .title-sub, .brand .title-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-category .title-sub .title, .brand .title-sub .title {
  width: 80%;
}

.sub-category .title-sub .button, .brand .title-sub .button {
  width: 20%;
  text-align: center;
}

.sub-category .title-sub .button button, .brand .title-sub .button button {
  width: 90%;
  background: #FF7700;
  color: #fff;
  border: unset;
}

.sub-category .table, .brand .table {
  margin-bottom: 1em;
}

.sub-category .table:hover, .brand .table:hover {
  -webkit-box-shadow: 3px 4px 7px #707070;
          box-shadow: 3px 4px 7px #707070;
  -webkit-transition: .2s;
  transition: .2s;
}

.sub-category .table .head-table, .brand .table .head-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  border: 1px solid #707070;
  padding: 5px;
  background: #424242;
  color: #fff;
}

.sub-category .table .body-table, .brand .table .body-table {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20% 80%;
      grid-template-columns: 20% 80%;
  border: 1px solid #707070;
}

.sub-category .table .body-table .left, .brand .table .body-table .left {
  border-right: 1px solid #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.sub-category .table .body-table .right, .brand .table .body-table .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.sub-category .table .body-table .right .row, .brand .table .body-table .right .row {
  border-bottom: 1px solid #707070;
  padding: .25em .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .sub-category .table .body-table .right .row, .brand .table .body-table .right .row {
    font-size: .8em;
  }
}

.sub-category .table .body-table .right .row span, .brand .table .body-table .right .row span {
  color: #707070;
}

.sub-category .table .body-table .right .row:last-child, .brand .table .body-table .right .row:last-child {
  border-bottom: unset;
}

.sub-category .grid-box .box .group-brand, .brand .grid-box .box .group-brand {
  position: absolute;
  right: 0%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 40%;
  height: 30%;
}

.sub-category .grid-box .box .group-brand > .brand, .brand .grid-box .box .group-brand > .brand {
  background-color: #fff;
  position: relative;
}

.sub-category .grid-box .box .group-brand > .brand img, .brand .grid-box .box .group-brand > .brand img {
  width: 50px;
}

.sub-category .grid-box .box > .brand, .brand .grid-box .box > .brand {
  position: absolute;
  right: 0%;
  top: 0;
  background-color: #fff;
}

.sub-category .grid-box .box > .brand img, .brand .grid-box .box > .brand img {
  width: 50px;
}

.sub-category .grid-box .box .tag, .brand .grid-box .box .tag {
  position: absolute;
  top: 0;
  left: 0;
}

.sub-category .grid-box .box .tag .sale, .brand .grid-box .box .tag .sale {
  background-color: #fd0606;
  margin-bottom: 3px;
  line-height: 1.1;
  width: 60px;
  padding: 0 .25rem;
  text-align: center;
}

.sub-category .grid-box .box .tag .sale span, .brand .grid-box .box .tag .sale span {
  font-size: .8em;
  color: #fff;
}

.sub-category .grid-box .box .tag .new, .brand .grid-box .box .tag .new {
  background-color: #FFD500;
  margin-bottom: 3px;
  line-height: 1.1;
  width: 60px;
  padding: 0 .25rem;
  text-align: center;
}

.sub-category .grid-box .box .tag .new span, .brand .grid-box .box .tag .new span {
  font-size: .8em;
  font-weight: 600;
}

.sub-category .grid-box .box .picture, .brand .grid-box .box .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sub-category .grid-box .box .picture img, .brand .grid-box .box .picture img {
  height: 165px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.brand .head-bg {
  margin-bottom: .5em;
  position: relative;
}

.brand .head-bg > .logo {
  position: absolute;
  top: 50%;
  left: 3%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.brand .head-bg > .logo img {
  min-width: 40px;
  min-height: 40px;
  max-width: 100px;
  max-height: 100px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.brand .head-bg img {
  width: 100%;
  height: 100%;
}

.main-content.product {
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
}

.product .grid-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
  margin: 1em 0;
}

@media screen and (min-width: 768px) {
  .product .grid-product {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
  }
}

@media screen and (min-width: 1024px) {
  .product .grid-product {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2%;
  }
}

.product .grid-product .list label {
  margin-bottom: .5em;
}

.product .grid-product .list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: .25em 0;
  height: 1.6em;
  overflow: hidden;
}

.product .grid-product .list ul li .circle {
  width: 6px;
  height: 6px;
  border-radius: 20px;
  background-color: #FF7700;
  margin-right: 8px;
}
/*# sourceMappingURL=category.css.map */