@import 'variable';

.category{

  .grid{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: .5em;
    margin: 1em 0;

    @media screen and (min-width:$tablet){
      grid-template-columns: repeat(2,1fr);
      grid-row-gap: 1em;
      grid-column-gap: 1em;
    }

    .box{
      position: relative;
      height: 150px;
      border-radius: 5px;

      @media screen and (min-width:$tablet){
        -webkit-box-shadow: 0px 9px 14px 0px rgba(196,196,196,1);
        -moz-box-shadow: 0px 9px 14px 0px rgba(196,196,196,1);
        box-shadow: 0px 9px 14px 0px rgba(196,196,196,1);
      }

      .detail{
        position: absolute;
        top: 0;
        right: 15px;
        width: 50%;
        height: 100%;
        z-index: 1;
        padding: 1em 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .name{
          text-align: end;
          h2{
            font-weight: 600;
            font-size: 1.3em;
            height: 3em;
            overflow: hidden;
          }
        }

        .button{
          button{
            background-color: $orange;
            color: $white;
            width: 100%;
            border: unset;
          }
        }
      }

      .bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.sub-category,.brand{
  .grid-brand{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 5%;
    margin: 1em 0;

    .box{
      border: 1px solid $gray;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      height: 40px;

      img{
        max-height: 22px;
      }
    }
  } 
  
  >.title{
    background-color: $black;
    color: $white;
    padding: .25rem .5rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:($tablet)-1px){
      flex-direction: column;
    }
    
    span{
      height: 1.7em;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      width: 50%;
      align-self: center;

      @media screen and (max-width:($tablet)-1px){
        width: 100%;
      }
    }
  }

  .title-sub{
    display: flex;

    .title{
      width: 80%;
    }
    .button{
      width: 20%;
      text-align: center;

      button{
        width: 90%;
        background: $orange;
        color: $white;
        border: unset;
      }
    }
  }

  .table{
    margin-bottom: 1em;

    &:hover{
      box-shadow: 3px 4px 7px $gray;
      transition: .2s;
    }

    .head-table{
      display: grid;
      grid-template-columns: 100%;
      border: 1px solid $gray;
      padding: 5px;
      background: #424242;
      color: $white;
    }
    .body-table{
      display: grid;
      grid-template-columns: 20% 80%;
      border: 1px solid $gray;

      .left{
        border-right: 1px solid $gray;
        display: flex;
        align-items: center;
        padding: 10px;
      }
      .right{
        display: grid;
        grid-template-columns: 100%;
        
        .row{
          border-bottom: 1px solid $gray;
          padding: .25em .5em;
          display: flex;
          justify-content: space-between;

          @media screen and (max-width:($tablet)-1px){
            font-size: .8em;
          }

          span{
            color: $gray;
          }

          &:last-child{
            border-bottom: unset;
          }
        }
      }
    }
  }

  .grid-box{
    .box{
      .group-brand{
        position: absolute;
        right: 0%;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40%;
        height: 30%;

        >.brand{
          background-color: $white;
          position: relative;
          img{
            width: 50px;
          }
        }
      }
      >.brand{
        position: absolute;
        right: 0%;
        top: 0;
        background-color: $white;

        img{
          width: 50px;
        }
      }

      .tag{
        position: absolute;
        top: 0;
        left: 0;
  
        .sale{
          background-color: #fd0606;
          margin-bottom: 3px;
          line-height: 1.1;
          width: 60px;
          padding: 0 .25rem;
          text-align: center;
    
          span{
            font-size: .8em;
            color: $white;
          }
        }
        .new{
          background-color: $yellow;
          margin-bottom: 3px;
          line-height: 1.1;
          width: 60px;
          padding: 0 .25rem;
          text-align: center;
  
          span{
            font-size: .8em;
            font-weight: 600;
          }
        }
      }

      .picture{
        display: flex;
        
        img{
          height: 165px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.brand{
  .head-bg{
    margin-bottom: .5em;
    position: relative;

    >.logo{
      position: absolute;
      top: 50%;
      left: 3%;
      transform: translateY(-50%);

      img{
        min-width: 40px;
        min-height: 40px;
        max-width: 100px;
        max-height: 100px;
        filter: brightness(0) invert(1);
      }
    }

    img{
      width: 100%;
      height: 100%;
    }
  }
}

.main-content.product{
  grid-template-columns: 100%;
}
.product{
  .grid-product{
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 1em;
    margin: 1em 0;

    @media screen and (min-width:$tablet){
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 2%;
    }
    @media screen and (min-width:$ipadpro){
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 2%;
    }

    .list{
      label{
        margin-bottom: .5em;
      }
      ul{
        li{
          display: flex;
          align-items: center;
          margin: .25em 0;
          height: 1.6em;
          overflow: hidden;
          

          .circle{
            width: 6px;
            height: 6px;
            border-radius: 20px;
            background-color: $orange;
            margin-right: 8px;
          }
        }
      }
    }
  }
}