<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>M&E</title>

  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/style.min.css">
  <link rel="stylesheet" href="/css/product.min.css">
</head>
<body>
  <div class="body container">
    <!-- ส่วนหัว -->
    <header>
      <div class="header">
        <div class="logo"><a href=""><img src="/img/logo/logo.png" alt=""></a></div>
        <nav>
          <ul class="head-menu">
            <li><a href="" class="active">home</a></li>
            <li><a href="">product</a></li>
            <li><a href="">about us</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">download</a></li>
            <li><i class="fas fa-search" onclick="searchbox()"></i></li>
            <!-- ไอค่อนสำหรับปิดเมนู -->
            <li class="icon-close"><i class="fas fa-times" onclick="close_headMenu()"></i></li>
          </ul>
        </nav>
        <div class="burger"><i class="fas fa-bars" onclick="head_menu()"></i></div>
      </div>
      <div class="search-box">
        <div class="input-box">
          <input type="text" id="inputSearch" class="form-component">
          <i class="fas fa-search"></i>
        </div>
      </div>
    </header>

    <!-- ส่วนของสไลด์ -->
    <section>
      <div class="swiper-container home-slide">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="blog-txt">
              <h2>New Arrival</h2>
              <h2>Electric Cable</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Maiores magni neque, 
                eligendi eum delectus praesentium aspernatur perferendis ipsam facere quidem nobis doloremque rem quam deserunt repudiandae possimus, 
                incidunt, 
                obcaecati provident?
              </p>
              <div class="button"><button class="form-component">Shop Now</button></div>
              <div class="social">
                <div class="face"><i class="fab fa-facebook-f"></i></div>
                <div class="line"><i class="fab fa-line"></i></div>
                <div class="twitter"><i class="fab fa-twitter"></i></div>
              </div>
            </div>
            <img src="/img/slide.jpg" alt="">
          </div>

          <div class="swiper-slide">
            <div class="blog-txt">
              <h2>New Arrival</h2>
              <h2>Electric Wire Gas</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Maiores magni neque, 
                eligendi eum delectus praesentium aspernatur perferendis ipsam facere quidem nobis doloremque rem quam deserunt repudiandae possimus, 
                incidunt, 
                obcaecati provident?
              </p>
              <div class="button"><button class="form-component">Shop Now</button></div>
              <div class="social">
                <div class="face"><i class="fab fa-facebook-f"></i></div>
                <div class="line"><i class="fab fa-line"></i></div>
                <div class="twitter"><i class="fab fa-twitter"></i></div>
              </div>
            </div>
            <img src="/img/slide.jpg" alt="">
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </section>

    <!-- breadcrumb -->
    <div class="breadcrumb">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">สายไฟ</a></li>
        <li>NYY</li>
      </ul>
    </div>

    <!-- ส่วนหลัก -->
    <main>
      <div class="main-content">
        <div class="aside">
          <div class="icon"><i class="fas fa-align-left" onclick="aside_mobile()"></i></div>
          <div class="aside-menu">
            <div class="title">category</div>
            <ul class="menu">
              <li class="active"><a href="">สายไฟ</a></li>
              <li><a href="">หม้อแปลง</a></li>
              <li><a href="">มอเตอร์</a></li>
              <li><a href="">สวิตซ์</a></li>
              <li><a href="">ปลั๊ก</a></li>
              <li><a href="">ตู้คอนซูเมอร์ ตู้โหลด</a></li>
              <li><a href="">เบรกเกอร์ ออโตเมติก</a></li>
              <li><a href="">ท่อร้อยสาย</a></li>
              <li><a href="">หางปลา</a></li>
              <li><a href="">ฟิวส์</a></li>
              <li><a href="">ไฟประดับ</a></li>

              <!-- ไอค่อนสำหรับปิดเมนู -->
              <li class="icon-close"><i class="fas fa-angle-double-left" onclick="closeAside_mobile()"></i></li>
            </ul>
            <figure class="qrcode"><img src="/img/qrcode.jpg" alt=""></figure>
          </div>
        </div>
        <div class="content product">
          <div class="product-zone">
            <div class="detail-zone">
              <div class="name">
                <h1>YAZAKI NYY (1 core) 1X1.5 Premium Quality</h1>
              </div>
              <div class="price">
                <span>฿ 150 / เมตร</span>
              </div>
              <div class="buy-button"><button class="form-component button">Buy Now</button></div>
            </div>
            <div class="picture-zone">
              <div class="big-pic">
                <img src="/img/yellow.png" alt="">
              </div>
              <div class="swiper-container thumb-pic">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                  <div class="swiper-slide"><img src="/img/yellow.png" alt=""></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>

          <div class="product-detail">
            <h2>Detail</h2>
            <div class="ck">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus hic natus nostrum veritatis autem. Amet, 
                sapiente doloremque cum explicabo obcaecati ducimus, 
                asperiores esse dolores architecto debitis accusamus illo libero saepe.

                <img src="/img/spec.png" alt="">
              </p>
            </div>
          </div>

          <div class="tag">
            <h3>Tags</h3>
            <ul>
              <li><a href="">YAZAKI</a></li>
              <li><a href="">NYY</a></li>
              <li><a href="">Premium Quality</a></li>
            </ul>
          </div>

          <div class="title">
            <span>NYY Mitsubishi 1 core</span>
          </div>

          <div class="grid-box">
            <a href="">
              <div class="box">
                <div class="brand"><img src="/img/yazaki.png" alt=""></div>
                <div class="picture"><img src="/img/white.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price">
                    <span>฿ 1,800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="brand"><img src="/img/yazaki.png" alt=""></div>
                <div class="picture"><img src="/img/white.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 ยาซากิ 1 ม้วน</p></div>
                  <div class="price">
                    <span>฿ 800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="tag">
                  <div class="new"><span>สินค้าใหม่</span></div>
                </div>
                <div class="brand"><img src="/img/mitsubishi-02.png" alt=""></div>
                <div class="picture"><img src="/img/red.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price">
                    <span>฿ 1,800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="tag">
                  <div class="discount"><span>ลดราคา</span></div>
                </div>
                <div class="brand"><img src="/img/mitsubishi-02.png" alt=""></div>
                <div class="picture"><img src="/img/red.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price discount">
                    <span>฿ 1,800</span>
                    <span>฿ 800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="brand"><img src="/img/salzer-02.png" alt=""></div>
                <div class="picture"><img src="/img/yellow.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร ยาวยิ่งกว่าหลวงปู่เค็ม 8 เมตร</p></div>
                  <div class="price">
                    <span>฿ 1,800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="brand"><img src="/img/salzer-02.png" alt=""></div>
                <div class="picture"><img src="/img/yellow.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price">
                    <span>฿ 1,800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="brand"><img src="/img/3M-02.png" alt=""></div>
                <div class="picture"><img src="/img/blue.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price">
                    <span>฿ 1,800</span>
                  </div>
                </div>
              </div>
            </a>

            <a href="">
              <div class="box">
                <div class="tag">
                  <div class="new"><span>สินค้าใหม่</span></div>
                  <div class="discount"><span>ลดราคา</span></div>
                </div>
                <div class="brand"><img src="/img/3M-02.png" alt=""></div>
                <div class="picture"><img src="/img/blue.png" alt=""></div>
                <div class="detail">
                  <div class="name"><p>ไฟประดับ 50w 16 หลอด ยาว 10 เมตร</p></div>
                  <div class="price discount">
                    <span>฿ 1,800</span>
                    <span>฿ 1,100</span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class="footer">
        <div class="brand">
          <div class="title">ยี่ห้อผลิตภัณฑ์ต่างๆ</div>
          <div class="list-brand">
            <ul class="list-brand-item">
              <li class=""><img src="/img/brand/3M-02.png" alt=""></li>
              <li class=""><img src="/img/brand/ABB-02.png" alt=""></li>
              <li class=""><img src="/img/brand/hitachi-02.png" alt=""></li>
              <li class=""><img src="/img/brand/idec-02.png" alt=""></li>
              <li class=""><img src="/img/brand/mitsubishi-02.png" alt=""></li>
              <li class=""><img src="/img/brand/panasonic-02.png" alt=""></li>
              <li class=""><img src="/img/brand/salzer-02.png" alt=""></li>
            </ul>
            <div class="prev"><i class="fas fa-angle-left"></i></div>
            <div class="next"><i class="fas fa-angle-right"></i></div>
          </div>
          <img src="/img/brand.jpg" alt="" class="bg-brand">
        </div>

        <div class="content-footer">
          <div class="contact">
            <div class="address">
              <p>500 terry francois street San Francisco, CA 94158</p> 
            </div>
            <div class="mail-tel">
              <p>Mail: info@mysite.com</p>
              <p>Tel: 123-456-7890</p>
            </div>
          </div>

          <div class="logo-social">
            <div class="logo"><img src="/img/logo/logo.png" alt=""></div>
            <div class="social">
              <figure><i class="fab fa-facebook-f"></i></figure>
              <figure><i class="fab fa-line"></i></figure>
              <figure><i class="fab fa-twitter"></i></figure>
            </div>
          </div>

          <div class="send-email">
            <label>JOIN US!</label>
            <div class="input-box">
              <input type="email" class="form-component" placeholder="Email">
              <button class="form-component button-footer">Send</button>
            </div>
          </div>
        </div>

        <div class="copyright">
          <p>&copy;2020 by <a href="wynnsoft-solution.com">wynnsoft-solution</a></p>
        </div>
      </div>
    </footer>
  </div>

  <div class="bg-page">
    <div class="bg1">
      <img src="/img/BG.png" alt="">
    </div>
  </div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/home.js"></script>
  <script src="/js/product.js"></script>
</body>
</html>